@using Microsoft.AspNetCore.Mvc.ModelBinding
@{
    ViewData["Title"] = "Login";
    var errors = this.ViewData.ModelState.Keys.SelectMany(key => this.ViewData.ModelState[key].Errors);
}
<div class="d-flex justify-content-center">
    <form class="d-flex flex-column p-3 w-25" asp-action="SignIn" asp-controller="User" method="post">
        <!-- Email input -->
        <div class="form-outline mb-4">
            <label for="usernameInput">Username</label>
            <input name="username" type="text" id="usernameInput" class="form-control" placeholder="Username" />
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <label for="passwordInput">Password</label>
            <input name="password" type="password" id="passwordInput" class="form-control" placeholder="Password"/>  
        </div>
      
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4 w-75 align-self-center">Sign in</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Not a member? <a asp-action="Register" asp-controller="User">Register</a></p>     
        </div>
    </form>
</div>
@if (errors.Count() > 0)
{
    <div class="d-flex justify-content-center">
        <ul class="list-group w-auto">
            <lh class="list-group-item list-group-item-danger">Error</lh>
            @foreach (ModelError error in errors)
            {
                <li class="list-group-item">@error.ErrorMessage</li>
            }
        </ul>
    </div>
}