@{
}
<div class="d-flex justify-content-center">
    <form class="d-flex flex-column p-3 w-25" asp-action="RegisterUser" asp-controller="User" method="post">
        <!-- Email input -->
        <div class="form-outline mb-4">
            <label for="usernameInput">UserName</label>
            <input name="username" type="text" id="usernameInput" class="form-control" placeholder="UserName" />
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <label for="passwordInput">Password</label>
            <input name="password" type="password" id="passwordInput" class="form-control" placeholder="Password"/>  
        </div>
        <div class="form-outline mb-4">
            <label for="passwordInputConfirmation">Reenter Password</label>
            <input name="passwordConfirmation" type="password" id="passwordInputConfirmation" class="form-control" placeholder="Password" />
        </div>
      
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4 w-75 align-self-center"> Create Account </button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Already a member? <a asp-action="Login" asp-controller="User">Login</a></p>     
        </div>
    </form>
</div>