@using Microsoft.AspNetCore.Identity
@model ReplyChain
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Replies";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IdentityUser user = await UserManager.GetUserAsync(User);

}

<h1>Reply Chain</h1>
<script src="~/js/previews/fakerShared.js"></script>
<script src="~/js/previews/BlockSuspend.js"></script>
<link href="~/css/preivews/global.css" rel="stylesheet" type="text/css" />
<link href="~/css/preivews/block.css" rel="stylesheet" type="text/css" />
<div class="container">
    <div class="row">
        <div class="col-sm">
            <form enctype="multipart/form-data" asp-action="Edit" method="post" asp-controller="Reply">
                <div class="form-row col-sm">
                    <div class="container p-3 my-3 border rounded" id="replyForms">
                        <div id="reply1" class="shown">
                            <div class="form-group">
                                <label for="inputDisplayName">Display Name</label>
                                <input type="text" class="form-control" id="inputDisplayName1" placeholder="Display Name" asp-for="replies[0].DisplayName">
                            </div>
                            <div class="form-group topBreakDiv">
                                <label for="inputUserName">Username</label>
                                <input type="text" class="form-control" id="inputUserName1" placeholder="Username" asp-for="replies[0].UserName">
                            </div>
                            <div class="form-group topBreakDiv">
                                <label for="inputDateTime">Date and Time</label>
                                <input type="datetime-local" class="form-control" style="width: fit-content;" id="inputDateTime1" asp-for="replies[0].DateTime">
                            </div>
                            <div class="container">
                                <div class="topBreakDiv row">
                                    <label for="inputPfp" style="padding-left: 0 !important;">Profile Picture</label>
                                    <input type="file" class="form-control col-sm file-input-clear" accept="image/x-png,image/gif,image/jpeg" id="inputPfp1" name="profilePicture1"/>
                                    <button type="button" class="btn col-sm-1 input-clear-btn" id="fileClearBtn1">X</button>
                                    <img class="hide" id="pfpPlaceHolder" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputBody">Body</label>
                                <textarea class="form-control" rows="3" cols="83" id="inputBody1" asp-for="replies[0].Body"></textarea>
                            </div>
                            <div class="form-check form-switch topBreakDiv">
                                <input type="checkbox" class="form-check-input" id="inputVerified1" onload="this.checked = this.value=='true';" onclick="$(this).val(this.checked)" asp-for="replies[0].Verified"/>
                                <label for="inputVerified" class="form-check-label">Verified</label>
                            </div>
                            <div class="container topBreakDiv">
                                <div class="row">
                                    <div class="form-group col-md" style="padding-left:0 !important">
                                        <label for="inputRetweets1">Retweets</label>
                                        <input type="number" class="form-control" id="inputRetweets" value="0" min="0" placeholder="0" asp-for="replies[0].Retweets">
                                    </div>
                                    <div class="form-group col-md">
                                        <label for="inputQuoteTweets1">Quote Tweets</label>
                                        <input type="number" class="form-control" id="inputQuoteTweets" value="0" min="0" placeholder="0" asp-for="replies[0].QuoteTweets"/>
                                    </div>
                                    <div class="form-group col-md" style="padding-right:0 !important">
                                        <label for="inputLikes1">Likes</label>
                                        <input type="number" class="form-control" id="inputLikes" value="0" min="0" placeholder="0" asp-for="replies[0].Likes">
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="inputIndex1" asp-for="replies[0].Index" value="0"/>
                        </div>
                        <div id="reply2" class="visually-hidden">
                            <div class="form-group">
                                <label for="inputDisplayName">Display Name</label>
                                <input type="text" class="form-control" id="inputDisplayName2" placeholder="Display Name" asp-for="replies[1].DisplayName">
                            </div>
                            <div class="form-group topBreakDiv">
                                <label for="inputUserName">Username</label>
                                <input type="text" class="form-control" id="inputUserName2" placeholder="Username" asp-for="replies[1].UserName">
                            </div>
                            <div class="form-group topBreakDiv">
                                <label for="inputDateTime">Date and Time</label>
                                <input type="datetime-local" class="form-control" style="width: fit-content;" id="inputDateTime2" asp-for="replies[1].DateTime">
                            </div>
                            <div class="container">
                                <div class="topBreakDiv row">
                                    <label for="inputPfp" style="padding-left: 0 !important;">Profile Picture</label>
                                    <input type="file" class="form-control col-sm file-input-clear" accept="image/x-png,image/gif,image/jpeg" id="inputPfp2" name="profilePicture2"/>
                                    <button type="button" class="btn col-sm-1 input-clear-btn" id="fileClearBtn2">X</button>
                                    <img class="hide" id="pfpPlaceHolder" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputBody">Body</label>
                                <textarea class="form-control" rows="3" cols="83" id="inputBody2" asp-for="replies[1].Body"></textarea>
                            </div>
                            <div class="form-check form-switch topBreakDiv">
                                <input type="checkbox" class="form-check-input" id="inputVerified2" onload="this.checked = this.value=='true';" onclick="$(this).val(this.checked)" asp-for="replies[1].Verified" />
                                <label for="inputVerified" class="form-check-label">Verified</label>
                            </div>
                            <div class="container topBreakDiv">
                                <div class="row">
                                    <div class="form-group col-md" style="padding-left:0 !important">
                                        <label for="inputRetweets">Retweets</label>
                                        <input type="number" class="form-control" id="inputRetweets2" value="0" min="0" placeholder="0" asp-for="replies[1].Retweets">
                                    </div>
                                    <div class="form-group col-md">
                                        <label for="inputQuoteTweets">Quote Tweets</label>
                                        <input type="number" class="form-control" id="inputQuoteTweets2" value="0" min="0" placeholder="0" asp-for="replies[1].QuoteTweets" />
                                    </div>
                                    <div class="form-group col-md" style="padding-right:0 !important">
                                        <label for="inputLikes">Likes</label>
                                        <input type="number" class="form-control" id="inputLikes2" value="0" min="0" placeholder="0" asp-for="replies[1].Likes">
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="inputIndex2" asp-for="replies[1].Index" value="1"/>
                        </div>
                    </div>
                    <!-- Page Controls-->

                    <div class="mt-3">
                        <nav aria-label="Reply Pagination">
                            <ul class="pagination mb-3" id="pageList" style="width: fit-content;">
                                <li class="page-item"><a class="page-link active" href="#" id="page1">1</a></li>
                                <li class="page-item"><a class="page-link" href="#" id="page2">2</a></li>  
                            </ul>
                            <div class="container row">
                                <a class="btn btn-primary col-md-3 me-3" id="addReply">Add Reply</a>
                                <a class="btn btn-danger col-md-3" id="deleteSelectedReply">Delete Reply</a>
                            </div>
                        </nav>
                    </div>

                    <!-- Modifiers for all replies-->
                    <div class="container topBreakDiv" style="padding-left:0px;">
                        <div class="row">
                            <div class="col-md-4" id="themeRadio">
                                <span>Theme</span>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="themeRadios" id="defaultTheme" value="0">
                                    <label class="form-check-label" for="defaultTheme">Default</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="themeRadios" id="dimTheme" value="1">
                                    <label class="form-check-label" for="dimTheme">Dim</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="themeRadios" id="darkTheme" value="2">
                                    <label class="form-check-label" for="darkTheme">Dark</label>
                                </div>
                            </div>
                            <div class="col-md-4" id="fontRadio">
                                <span>Font</span>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="fontRadios" id="defaultFont" value="0">
                                    <label class="form-check-label" for="defaultFont">Default</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="fontRadios" id="interFont" value="1">
                                    <label class="form-check-label" for="interFont">Inter</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="fontRadios" id="chirpFont" value="2">
                                    <label class="form-check-label" for="chirpFont">Chirp</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <button type="submit" class="btn btn-primary submission">@ViewBag.Action</button>
                <a asp-controller="Block" asp-action="Index" class="btn btn-secondary submission">Cancel</a>
                <button class="btn btn-light submission" type="button" id="previewBtn">Preview</button>
                <div asp-validation-summary="All" class="text-danger"></div>
            </form>
        </div>
        <div id="preview" class="col-sm">
        </div>
    </div>
</div>
<script src="~/js/ReplyChainManager.js"></script>
<script>
    window.onload = () => {
      let container = document.querySelector("#replyForms")
      let template = document.querySelector("#replyFormTemplate")
      let addButton = document.querySelector("#addReply")
      let deleteButton = document.querySelector("#deleteSelectedReply")
      let pageButtons = document.querySelector("#pageList")
      let pageButtonTemplate = document.querySelector("#pageButtonTemplate")
      document.querySelector("#defaultTheme").setAttribute("checked", "")
      document.querySelector("#defaultFont").setAttribute("checked", "")

      const paginationController = new ReplyPaginationController(container, template, pageButtonTemplate, addButton, deleteButton, pageButtons)
      addButton.addEventListener("click", () => {paginationController.addReply()})
      deleteButton.addEventListener("click", () => {paginationController.deleteReply()})
      document.querySelector("#replyForms").addEventListener("click", (e) => {
        if(e.target.id.includes("fileClearBtn") ) {
          let formIndex = e.target.id.charAt(e.target.id.length - 1)
          document.querySelector(`#inputPfp${formIndex}`).value = null
        }
        
      })
      document.querySelector("#pageList").addEventListener("click", (e) => {paginationController.selectReply(e.target.textContent)})
    }
</script>
<template id="blockSuspendTemplate">
    <div class="blockContainer Dark">
        <div class="profile-canopy">
            <div class="pfp-container">
                <div class="pfp">
                    <img class="pfp-image" src="default pfp.png">
                </div>
            </div>
        </div>
        <div class="namebar">
            <div class="name">
                <span class="displayName">Name</span>
                <span class="verified">
                    <svg viewBox="0 0 24 24"><g><path d="M22.5 12.5c0-1.58-.875-2.95-2.148-3.6.154-.435.238-.905.238-1.4 0-2.21-1.71-3.998-3.818-3.998-.47 0-.92.084-1.336.25C14.818 2.415 13.51 1.5 12 1.5s-2.816.917-3.437 2.25c-.415-.165-.866-.25-1.336-.25-2.11 0-3.818 1.79-3.818 4 0 .494.083.964.237 1.4-1.272.65-2.147 2.018-2.147 3.6 0 1.495.782 2.798 1.942 3.486-.02.17-.032.34-.032.514 0 2.21 1.708 4 3.818 4 .47 0 .92-.086 1.335-.25.62 1.334 1.926 2.25 3.437 2.25 1.512 0 2.818-.916 3.437-2.25.415.163.865.248 1.336.248 2.11 0 3.818-1.79 3.818-4 0-.174-.012-.344-.033-.513 1.158-.687 1.943-1.99 1.943-3.484zm-6.616-3.334l-4.334 6.5c-.145.217-.382.334-.625.334-.143 0-.288-.04-.416-.126l-.115-.094-2.415-2.415c-.293-.293-.293-.768 0-1.06s.768-.294 1.06 0l1.77 1.767 3.825-5.74c.23-.345.696-.436 1.04-.207.346.23.44.696.21 1.04z"></path></g></svg>
                </span>
            </div>
            <div class="username">
                @@<span class="usernameOutput">Username</span>
            </div>
        </div>
        <div class="timeline">
            <div class="tl-text-container">
                <div class="tl-main">
                    <span class="tl-block">
                        @@<span class="usernameOutput">Username</span> blocked you
                    </span>
                    <span class="tl-suspend hide">
                        Account Suspended
                    </span>
                </div>
                <div class="tl-sub">
                    <span class="tl-block">
                        You are blocked from following @@<span class="usernameOutput">Username</span> and viewing @@<span class="usernameOutput">Username</span>’s Tweets.
                    </span>
                    <span class="tl-suspend hide">
                        Twitter suspends accounts that violate the <span class="fakelink">Twitter Rules</span>.
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<template id="replyFormTemplate">
    <div id="treply" class="shown">
        <div class="form-group">
            <label for="inputDisplayName">Display Name</label>
            <input type="text" class="form-control" id="tinputDisplayName" placeholder="Display Name">
        </div>
        <div class="form-group topBreakDiv">
            <label for="inputUserName">Username</label>
            <input type="text" class="form-control" id="tinputUserName" placeholder="Username">
        </div>
        <div class="form-group topBreakDiv">
            <label for="inputDateTime">Date and Time</label>
            <input type="datetime-local" class="form-control" style="width: fit-content;" id="tinputDateTime">
        </div>
        <div class="container">
            <div class="topBreakDiv row">
                <label for="inputPfp" style="padding-left: 0 !important;">Profile Picture</label>
                <input type="file" class="form-control col-sm file-input-clear" accept="image/x-png,image/gif,image/jpeg" id="tinputPfp" />
                <button type="button" class="btn col-sm-1 input-clear-btn" id="tfileClearBtn">X</button>
                <img class="hide" id="pfpPlaceHolder" />
            </div>
        </div>
        <div class="form-group">
            <label for="inputBody">Body</label>
            <textarea class="form-control" rows="3" cols="83" id="tinputBody"></textarea>
        </div>
        <div class="form-check form-switch topBreakDiv">
            <input type="checkbox" class="form-check-input" id="tinputVerified" onload="this.checked = this.value=='true';" onclick="$(this).val(this.checked)" />
            <label for="inputVerified" class="form-check-label">Verified</label>
        </div>
        <div class="container topBreakDiv">
            <div class="row">
                <div class="form-group col-md" style="padding-left:0 !important">
                    <label for="inputRetweets">Retweets</label>
                    <input type="number" class="form-control" id="tinputRetweets" value="0" min="0" placeholder="0">
                </div>
                <div class="form-group col-md">
                    <label for="inputQuoteTweets">Quote Tweets</label>
                    <input type="number" class="form-control" id="tinputQuoteTweets" value="0" min="0" placeholder="0" />
                </div>
                <div class="form-group col-md" style="padding-right:0 !important">
                    <label for="inputLikes">Likes</label>
                    <input type="number" class="form-control" id="tinputLikes" value="0" min="0" placeholder="0">
                </div>
            </div>
        </div>
        <input type="hidden" id="tinputIndex"/>
    </div>
</template>

<template id="pageButtonTemplate">
    <li class="page-item"><a class="page-link" href="#" id="tpage"></a></li>
</template>