@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    IdentityUser user = await UserManager.GetUserAsync(User);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TwitterFaker</title>
    <link rel="stylesheet" href="~/css/bootstrap.css" />  
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TwitterFaker</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Tweets">Tweets</a>
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Replies">Replies</a>
                        <a class="nav-link" asp-area="" asp-controller="Block" asp-action="index">Blocks/Suspensions</a>
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                    </div>
                </div>
                @if (user == null) {
                <a class="btn blue-btn" asp-area="" asp-controller="User" asp-action="Login">Login</a>            
                }
                else
                {
                <div class="dropdown">
                    <button class="btn dropdown-toggle user-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        @user.UserName
                    </button>
                    <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Settings">Settings</a></li>
                        <li><a class="dropdown-item text-danger fw-bold" asp-area="" asp-controller="User" asp-action="Logout">Sign Out</a></li>
                    </ul>
                </div>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top text-muted">
        <div class="container">
            &copy; 2022 - TwitterFaker - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/jquery-3.6.1.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
