@{
    ViewData["Title"] = "Replies";
}
<script src="~/js/previews/fakerShared.js"></script>
<script src="~/js/previews/TextImageDateTimeStats.js"></script>
<script src="~/js/previews/ReplyChain.js"></script>
<link href="~/css/preivews/global.css" rel="stylesheet" type="text/css"/>
<link href="~/css/preivews/tweet.css" rel="stylesheet" type="text/css"/>
<style>
    .reply-input-div{
        max-height:75vh;
        overflow-y:auto;
        background-color:lightgreen;
    }
    .reply-input-div hr:last-of-type{
        display:none;
    }
    textarea{
        height:17px;
    }
    .td-file-input img{
        display:none;
    }
    .td-file-input input{
        display:inline-block;
        display:inline-block;
        width: calc(100% - 44.5px);
    }
    .td-file-input button{
        vertical-align:top;
        display:inline-block;
    }
    tr:first-child{
        width:100px;
    }

</style>
<h1>Replies</h1>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <form>
                <div class="form-row reply-input-div">
                   <!-- <ol>
                        <li>-->
                            <table style="width:100%">
                                <tr>
                                    <td>Display Name</td>
                                    <td>
                                        <input type="text" class="form-control" id="inputDisplayName" placeholder="Display Name">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Username</td>
                                    <td>
                                        <input type="text" class="form-control" id="inputUserName" placeholder="Username">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Profile Picture</td>
                                    <td class="td-file-input">
                                        <input name="profilePicture" type="file" class="form-control col-sm file-input-clear" id="inputPfp"/><button type="button" class="btn col-sm-1 input-clear-btn" id="fileClearBtn">X</button>
                                        <img class="hide" id="pfpPlaceHolder"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Verified</td>
                                    <td>
                                        <input type="checkbox" class="form-check-input" id="inputVerified"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Body</td>
                                    <td>
                                        <textarea class="form-control" rows="3" cols="83" id="inputBody"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Image</td>
                                    <td class="td-file-input">
                                        <input name="picture" type="file" class="form-control col-sm file-input-clear" id="inputImage"/><button type="button" class="btn col-sm-1 input-clear-btn" id="imageClearBtn">X</button>
                                        <img class="hide" id="imagePlaceHolder"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Date and Time</td>
                                    <td>
                                        <input type="datetime-local" class="form-control" style="width: fit-content;" id="inputDateTime">
                                    </td>
                                </tr>
                            </table>

                            <div class="container">
                                <div class="container topBreakDiv">
                                    <div class="row">
                                        <div class="form-group col-md" style="padding-left:0 !important">
                                            <label for="inputRetweets">Retweets</label>
                                            <input type="number" class="form-control" id="inputRetweets" value="0" min="0" placeholder="0">
                                        </div>
                                        <div class="form-group col-md">
                                            <label for="inputQuoteTweets">Quote Tweets</label>
                                            <input type="number" class="form-control" id="inputQuoteTweets" value="0" min="0" placeholder="0"/>
                                        </div>
                                        <div class="form-group col-md" style="padding-right:0 !important">
                                            <label for="inputLikes">Likes</label>
                                            <input type="number" class="form-control" id="inputLikes" value="0" min="0" placeholder="0">
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="submission btn btn-danger">Remove</button>
                            </div>
                            <hr>
                        <!--</li>
                    </ol>-->
                  <template id="reply-input-template">
                      
                  </template>
                </div>
                <button type="button" class="btn btn-secondary submission">Add Reply</button>
                <div class="form-row">
                    <!--Theme and font-->
                    <div class="container topBreakDiv" style="padding-left:0px;">
                        <div class="row">
                            <div class="col-md" id="themeRadio">
                                <span>Theme</span>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="themeRadios" id="defaultTheme" value="0" checked>
                                  <label class="form-check-label" for="defaultTheme">
                                    Default
                                  </label>
                                </div>

                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="themeRadios" id="dimTheme" value="1">
                                  <label class="form-check-label" for="dimTheme">
                                    Dim
                                  </label>
                                </div>

                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="themeRadios" id="darkTheme" value="2">
                                  <label class="form-check-label" for="darkTheme">
                                    Dark
                                  </label>
                                </div>
                            </div>
                             <div class="col-md" id="fontRadio">
                                <span>Font</span>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="fontRadios" id="defaultFont" value="0" checked>
                                  <label class="form-check-label" for="defaultFont">
                                    Default
                                  </label>
                                </div>

                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="fontRadios" id="interFont" value="1">
                                  <label class="form-check-label" for="interFont">
                                    Inter
                                  </label>
                                </div>

                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="fontRadios" id="chirpFont" value="2">
                                  <label class="form-check-label" for="chirpFont">
                                    Chirp
                                  </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="blue-btn btn btn-primary submission">Create</button>
                <button class="btn btn-secondary submission" type="button" id="previewBtn">Preview</button>
            </form>
        </div>
        <div class="col-sm">
            hi
        </div>
    </div>
</div>