:root {
    --twitterblue: rgb(26, 140, 216);
    --white: #ffffff;
    --black: rgb(15, 20, 25);
    --hover: rgb(29, 155, 240)
}

body {
    background-color: var(--white);
    padding-bottom: 3%;
}

.navbar-brand {
    color: var(--twitterblue);
}

.navbar-brand:hover {
    color: var(--hover);
}

.nav-link {
    color: var(--black);
}

.blue-btn {
    background-color: var(--twitterblue);
    color: var(--white);
    border-color: var(--twitterblue);
}

.blue-btn:hover {
    background-color: var(--hover) !important;
    color: var(--white) !important;
    border-color: var(--hover) !important;
}

.submission {
    margin: .5rem 0 0 0;
}

.user-dropdown {
    background-color: var(--twitterblue);
    color: var(--white);
    min-width: 10rem;
}

.user-dropdown:hover {
    background-color: var(--hover) !important;
    color: var(--white) !important;
}

.dropdown-toggle.show {
    background-color: var(--twitterblue);
    color: var(--white);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0rem;
    left: 0;
    height: 3%;
    background: var(--white);
}

.topBreakDiv {
    margin-top: 2.5px;
}
.file-input-clear {
    border-radius: 5px 0 0 5px;
}
.input-clear-btn {
    background-color: #e9ecef;
    border-right: 1px solid #dadee3;
    border-top: 1px solid #dadee3;
    border-bottom: 1px solid #dadee3;
    border-radius: 0 5px 5px 0px;
}
.input-clear-btn:hover {
    background-color: #dde0e3 !important;
}
.h1-0-margin {
    margin: 0 0 0 0 !important;
}